#content{ 
    background-image:url("pic4.jpg"); 
    padding:50px; 
    background-color:lightgrey; 
    border:5px solid grey; 
    margin-left:70px; 
    margin-right:70px; 
    height:850px; 
    margin-top:70px; 
    margin-bottom:70px;
    }
#port1{
    padding:20px;
}
#header{
    float:right; 
    margin-right:280px;
}
#display{
    float:left; 
    margin-right:150px;
    }
#banner{
    margin-left:140px;
    }
 #footer{
    margin-right:10px;
    }    